.section {
  background: url(../../assets/img/patika.jpg);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  color: blue;
  font-size: 4rem;
  font-weight: bold;
}
.textInfo {
  margin-top: 180px;

}
.logout-button {
  border: 1px solid white;
  background: black;
  color: white;
  margin: 5rem auto;
  font-size: 20px;
  min-width: 1px;
  padding: 0.1rem;
  transition: 250ms background ease-in;
}
